/* #email{
    width: 100%;
} */

/* .row input{
    width: 100%;
} */
/* #card{
    width: 50%;
} */

.inpt{
    width: 100%;
}

/* input{
    width: 100%;
} */

/* #card{
    width:  60%;
} */
/* body{
    background-color: red;
} */

/* .inpt{
    padding: 0px 200px;
} */

